name: build-and-publish-nuget-package
on: 
  push:
    branches:
      master
      
jobs:
  compile-code:
    runs-on: windows-latest
    
    env:
      SOLUTION: 'Greg.Conga.sln'

    permissions:
      packages: write
      contents: read

    strategy:
      matrix:
        dotnet-version: ['6.0']

    steps:
      - uses: actions/checkout@v3
      
      - name: Setup dotnet ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      # You can test your matrix by printing the current dotnet version
      - name: Display dotnet version
        run: dotnet --version
        
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5

      - name: Install dependencies
        run: nuget restore $SOLUTION

      - name: Build
        run: dotnet build --configuration Release

      - name: Publish
        run: nuget push **\*.nupkg -Source 'https://api.nuget.org/v3/index.json' -ApiKey ${{ secrets.NUGET_API_KEY }}
